*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body{
    background: #fdf7f5;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo{
    color: #c8a97e;
    font-size: 24px;
    font-weight: bold;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar ul li{
    cursor: pointer;
    transition: 0.3s;
}

.navbar ul li:hover{
    color: #c8a97e;
}

/* HERO */
.hero{
    height: 100vh;
    background: url(image/bad.jpeg) center/cover no-repeat;
    display: flex;

    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.overlay{
    background: rgba(0,0,0,0.4);
    padding: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.overlay h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.overlay p{
    margin-bottom: 20px;
}

.overlay button{
    padding: 10px 25px;
    border: none;
    background: #c8a97e;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* CATEGORIES */
.categories{
    padding: 80px 50px;
    text-align: center;
}

.categories h2{
    margin-bottom: 40px;
    color: #c8a97e;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 220px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3{
    padding: 15px;
}

.card:hover{
    transform: translateY(-10px);
}
/* 📱 موبايل */
@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .navbar ul{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .hero{
        height: 70vh;
    }

    .overlay h1{
        font-size: 24px;
    }

    .overlay p{
        font-size: 14px;
    }

    .overlay{
        padding: 20px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 90%;
    }
}


/* 📱📲 تابلت */
@media (min-width: 769px) and (max-width: 1024px){

    .cards{
        justify-content: center;
        gap: 20px;
    }

    .card{
        width: 45%;
    }

    .overlay h1{
        font-size: 30px;
    }
}


/* 💻 شاشات كبيرة */
@media (min-width: 1200px){

    .card{
        width: 220px;
    }

}